:root {
  /* Modo Claro */
  --bg-color: #ffffff;
  --text-color: #1a202c;
  --accent-color: #3b82f6;
  --card-bg: #f7fafc;
}

[data-theme='dark'] {
  /* Modo Oscuro */
  --bg-color: #242424;
  --text-color: #f7fafc;
  --accent-color: #63b3ed;
  --card-bg: #2d3748;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  /* Para que el cambio sea suave */
  margin: 0;
  font-family: Helvetica, Arial;
  line-height: 1.5;
}